$RubikFont: 'Rubik', sans-serif;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$xtraBold: 800;
$xtraXtraBold: 900;
$primaryMainColor: #EA5A43;
$TextGrayColor: #6B6B6B;
$priceColor: #171716;
$Secondary-Main: #1A90D2;
$BlueSecondary-Light: #A8D5EE;
$bgPrimaryColor: #FAFAFA;
$bodyColor: #FFFFFF;
$NeutralGrey-01: #8E8E8E;
$greyColor: #ABABAB;
$NeutralGrey-03: #E9E9E9;
$NeutralGrey-04: #F5F5F5;
$SuccessMain-Light: #A8EEC4;
$SuccessMain-Lighter: #EDFDF3;
$bgtertiaryColor: #EC9915;
$borderColor: #E7E5EA;